---
import MySiteLayout from "../layouts/MySiteLayout.astro"
import {LINK_STYLE, SUBTITLE} from "../data/constants"

const bioStyle = "text-lg"
---

<MySiteLayout title="Blog">

    <div class="p-4 space-y-3">

        <div class="text-center ">
            <h1>headshot here</h1>
            <p class="font-bold text-lg">{SUBTITLE}</p>
        </div>
        <div class="text-justify space-y-3">
            <p class={bioStyle}>I'm a software developer based in the DFW area. My coding journey began back in 2017 when I was first learning to write programs for a ti-84 calculator. Ever since then, I've gained experience utilizing a wide array of tools and technologies, some of which were utilized to build this website. You can see my projects that I'm currently and haved worked on my clicking the developer tab.</p>

            <p class={bioStyle}>I'm a music producer who's played piano for about 20 years. What started from piano lessons in kindergarten has blossomed into gigs across Texas playing for a variety of venues. I'm currently working on making my own music. You can see my current portfolio under the Music tab.</p>

            <p class={bioStyle + " text-center"}>The Best Way to Stay in Touch is to subscribe to my <a href="https://brycemcwhirter.substack.com" target="_blank" class={LINK_STYLE}>newsletter</a></p>

        </div>

        <!--Photo Gallery-->
        <div>
            <p>Gallery Here</p>
        </div>

        <!--FAQ-->
        <article class="prose-lg">
            <div>
                <h3>FAQ</h3>
                <ul class="list-none pl-5">
                    <li>
                        <p><strong>From:</strong> Plains, TX</p>
                    </li>
                    <li>
                        <p><strong>Living:</strong> DFW</p>
                    </li>
                    <li>
                        <p><strong>Education:</strong> B. of Science, Computer Science, Minor in Entrepreneurship, Baylor University</p>
                    </li>
                    <li>
                        <p><strong>Favorite Genres of Music:</strong> Yes</p>
                    </li>
                    <li>
                        <p><strong>Spotify or Apple Music:</strong> Apple Music</p>
                    </li>
                    <li>
                        <p><strong>Favorite Web Technologies:</strong> Svelte, Astro, PHP</p>
                    </li>
                </ul>
            </div>
        </article>

        <!--Links-->
        <div>
            <p>Interesting Links About Me Here</p>
        </div>
    </div>






</MySiteLayout>