---
import Block from '../components/Block.svelte'
---

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<Block />


</body>
<style>
    h1 {
        font-size: 2rem;
    }
</style>
</html>