---
import MySiteLayout from "../layouts/MySiteLayout.astro"
import BlogPostTable from "../components/BlogPostTable.astro"

const description = "I started blogging in 2024 to share anything that I found interesting, useful, or beneficial. You can see all of my posts here. "

---

<MySiteLayout title="Blog">


    <div class="p-4 space-y-6">
        <h1 class="text-4xl font-bold">My Blog</h1>
        <p class="text-xl">{description}</p>

        <div class="flex justify-center">
           <BlogPostTable />
        </div>


    </div>
</MySiteLayout>