---
import MySiteLayout from "../layouts/MySiteLayout.astro"
import {getCollection} from "astro:content";
import {SUBTITLE} from "../data/constants";

const publishedBlogEntries = await getCollection('blog', ({ data }) => {
	return data.draft !== true;
});

console.log(publishedBlogEntries);
---

<MySiteLayout title="Home">
	<div class="p-10 space-y-6">
		<h1 class="text-6xl font-bold">Hey! I'm Bryce</h1>
		<p class="font-bold text-3xl">{SUBTITLE}</p>
	</div>
</MySiteLayout>