---
// 1. The frontmatter prop gives access to frontmatter and other data

import MySiteLayout from "./MySiteLayout.astro";
const { frontmatter } = Astro.props;
---

<MySiteLayout>
    <article class="prose-xl p-10">
        <div>
            <h1>{frontmatter.title} </h1>
            <h4>{frontmatter.description}</h4>
        </div>
        <div>
            <slot />
            <p class="italic text-xs">Written on: {frontmatter.date}</p>
        </div>
    </article>
</MySiteLayout>
