---
const { title } = Astro.props;
import Navbar from "../components/Navbar.svelte";
import MyCardComponent from "../components/MyCardComponent.svelte";
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bryce McWhirter {title}</title>
</head>
<body>
<div class="border h-8">
<Navbar/>
</div>
<div class="grid grid-cols-4 border min-h-screen">
    <article class="border col-span-3">
        <slot /> <!-- your content is injected here -->
    </article>
    <div class="col-span-1">
        <MyCardComponent />
    </div>
</div>

</body>
<style>
    h1 {
        font-size: 2rem;
    }
</style>
</html>