---
const { title } = Astro.props;
import Navbar from "../components/Navbar.svelte";
import MyCardComponent from "../components/MyCardComponent.svelte";

// temp blog link for testing
// http://localhost:4321/blog/2024/26things
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bryce McWhirter {title}</title>
</head>
<body>
<div >
<Navbar/>
</div>
<div class="grid grid-cols-4 min-h-screen border-t-2">
    <article class="col-span-3 border-r-4">
        <slot /> <!-- your content is injected here -->
    </article>
    <div class="col-span-1">
        <MyCardComponent client:visible/>
    </div>
</div>

</body>
<style>
    h1 {
        font-size: 2rem;
    }
</style>
</html>